{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div class='m-4'>
  <div class='row'>
    {{#with navigation}}
      <div class='card col-12'>
        {{#each links}}
          <div class='card-body'>
            <a href='{{href}}' class='nav-link'>{{text}}</a>
          </div>
        {{/each}}
      </div>
    {{/with}}
    <br />
    <br />

    <div class='col-12 gy-4'>
      <ol class='breadcrumb'>
        <li class='breadcrumb-item'>
          <a
            href='{{breadcrumb.0.url}}'
          >{{breadcrumb.0.name}}</a>
        </li>
        <li class='breadcrumb-item'>
          <a
            href='{{breadcrumb.1.url}}'
          >{{breadcrumb.1.name}}</a>
        </li>
        <li class='breadcrumb-item'>
          <a
            href='{{breadcrumb.2.url}}'
          >{{breadcrumb.2.name}}</a>
        </li>
      </ol>
    </div>

    <h2>{{header}}</h2>
    <br />
    <br />
    {{#each sortBlock}}
    <div class='col-3'>
      <select class='form-select'>
        <option selected>{{placeholder}}</option>
        {{#each options}}
        <option value='1'>{{text}}</option>
        <option value='2'>{{text}}</option>
        {{/each}}
      </select>
    </div>
    {{/each}}
    <br>
    <br>
    <br>
    <br>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
        {{#with filterBlock}}
        {{#with sellers}}
        <p>{{title}}</p>
        <div class="form-check">
            <label class="form-check-label">{{list.[0].value}}</label>
            <input name="food" type="checkbox" class="form-check-input">
            <br>
            <label class="form-check-label">{{list.[1].value}}</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>
        {{/with}}
        <hr>
        {{#with brands}}
        <p>{{title}}</p>
         <input class="form-control">
         <div class="form-check">
            <label class="form-check-label">{{options.[0].value}}</label>
            <input name="food" type="checkbox" class="form-check-input">
            <br>
            <label class="form-check-label">{{options.[1].value}}</label>
            <input name="food" type="checkbox" class="form-check-input">
            <br>
            <label class="form-check-label">{{options.[2].value}}</label>
            <input name="food" type="checkbox" class="form-check-input">
            <br>
            <label class="form-check-label">{{options.[3].value}}</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>
        {{/with}}
        <hr>
        {{#with price}}
        <p>{{title}}</p>
        <input class="form-control">
        <br>
        <input class="form-control">
        <br>
        <btn class="btn btn-outline-dark" href="{{button.link}}">{{button.text}}</btn>
        {{/with}}
        <hr>
        {{#each filterList}}
        <p>{{title}}</p>
        {{#each options}}
        <div class="form-check">
            <label class="form-check-label">{{this.value}}</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>
        {{/each}}
        <hr>
        {{/each}}
        {{/with}}
        
        </div>
      </div>
    </div>

    <div class="col-8">
      {{#each goodsList}}
       <div class="card col-6">
    <img class="card-img-top" src="https://picsum.photos/1000/500" alt="Product photo">
    <span class="badge text-bg-warning rounded-pill text-uppercase col-2 mx-2 my-1">{{#if isHot}}<div>Hot</div> {{/if}}</span>
     <span class="badge text-bg-primary rounded-pill text-uppercase col-2 mx-2 my-1">{{#if isNew}}<div>New</div> {{/if}}</span>
      <span class="badge text-bg-success text-uppercase col-2 mx-2 my-1">{{#if isFast}}<div>Fast</div> {{/if}}</span>
       <span class="badge text-bg-secondary text-uppercase col-2 mx-2 my-1">{{#if isFree}}<div>free</div> {{/if}}</span>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
      <p>{{review.amount}} {{review.text}}</p>
      <h5>{{price}}</h5>
      <p>{{delivery}}</p>
      
      <a href="{{buttons.[0].link}}" class="btn btn-primary">{{buttons.[0].text}}</a>
      <a href="{{buttons.[1].link}}" class="btn btn-secondary">{{buttons.[1].text}}</a>
      {{#each characteristics}}
      <ul>
        <li>{{title}} {{value}}</li>
      </ul>
      {{/each}}
    </div>
   </div>
      {{/each}}
    </div>
    <br>
    <br>

  </div>
  <div class="alert alert-success">
  {{#with service}}
  <h2 class="text-center">{{title}}</h2>
  <p class="text-center">{{description}}</p>
  {{#each buttons}}
  <btn class="btn btn-primary text-center" href="{{link}}">{{text}}</btn>
  {{/each}}
  {{/with}}
  </div>
  </div>
  <br>
  <hr>
   <div class="row">
  {{#each footer}}
   <div class="nav col-2">
    <div>
      {{#each this}}
       <div>
        <a class="nav-link" href="{{link}}">{{text}}</a>
       </div>
      {{/each}}
    </div>
   </div>
  {{/each}}
  </div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}