{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <section class="row-12">
    {{#with navigation}}
      {{#each links}}
        <a href="{{href}}" class="col-3">{{text}}</a>
      {{/each}}
      <btn class="btn btn-primary" href="{{button.href}}">{{button.text}}</btn>
    {{/with}}
    <br>
    <br>
    <hr>
    {{#with header}}
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      <btn class="btn btn-primary" href="{{button.link}}">{{button.text}}</btn>
    {{/with}}
    <br>
    <br>
    <hr>
    

    {{#with city}}
      <h2>{{title}}</h2>
      <div class="row">
    {{#each cards}}
     
        <div class="col-6 g-2">
      <div class="card">
    <img class="card-img-top" src="{{picture.src}}" alt="{{picture.alt}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
      <p>{{description}}</p>
      <a href="{{button.href}}"><btn target="_blank" class="btn btn-primary">{{button.text}}</btn></a>
    </div>
   </div>
   </div>
     
   {{/each}}
   </div>
    {{/with}}
     <br>
     <br>
     <hr>
     <br>
     {{#with winner}}
       <h2>{{title}}</h2>
       {{#with table}}
           <table class="table table-bordered">
    <thead>
        <tr>
              {{#each head}}
               <th>{{this}}</th>
               {{/each}}
        </tr>
    </thead> 
    <tbody>
        <tr>
            <th>{{user.[0].place}}</th>
            <td>{{user.[0].name}}</td>
            <td>{{user.[0].surname}}</td>
            <td>{{user.[0].nickname}}</td>
        </tr>
        <tr>
            <th>{{user.[1].place}}</th>
            <td>{{user.[1].name}}</td>
            <td>{{user.[1].surname}}</td>
            <td>{{user.[1].nickname}}</td>
        </tr>
        <tr>
          <th>{{user.[2].place}}</th>
          <td>{{user.[2].name}}</td>
          <td>{{user.[2].surname}}</td>
          <td>{{user.[2].nickname}}</td>
        </tr>
    </tbody>
   </table>
       {{/with}}
     {{/with}}
     <br>
     <hr>
     {{#with gallery}}
      <h2>{{title}}</h2>
      <div class="row">
      {{#each cards}}
      <div class="col-4 g-2">
           <div class="card">
    <div class="card-header">
        <div>{{name}}</div>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item ">
        <a href="#" class="btn btn-link">
          {{#each items}}
            {{this}}
          {{/each}}
          </a>
    </li>
   </ul>
   </div>
        </div>
        {{/each}}
        </div>
     {{/with}}
     <br>
     <hr>
     {{#with relaxion}}
     <div class="display-3">{{title}}</div>
     <div class="row">
      {{#each cards}}
        <div class="col-6 g-2">
      <div class="card">
        <div class="card text-bg-secondary">
    <div class="card-header text-center">{{header}}</div>
    <div class="card-body text-center">
        <h6 class="card-title">{{title}}</h6>
        <p>{{description}}</p>
    </div>
   </div>
     </div>
     </div>
      {{/each}}
      </div>
     {{/with}}
     <br>
     <hr>
     {{#with rest}}
     <div class="row">
     {{#each cards}}
     <div class="col-6 g-2">
        <div class="card">
    <div class="card-header text-center">{{header}}</div>
    <div class="card-body text-center">
        <h6 class="card-title">{{title}}</h6>
        <p>{{description}}</p>
        <btn class="btn btn-primary">{{button}}</btn>
    </div>
    <div class="card-footer text-center">{{footer}}</div>
    </div>
   </div>
     {{/each}}
     </div>
     {{/with}}
     <br>
     <hr>
     <br>
     {{#with proposition}}
      <div class="display-2">{{title}}</div>
      <div class="row">
      {{#each card}}
       <div class="col-6 g-2">
      <div class="card">
        <div class="card text-bg-warning">
    <div class="card-header">{{header}}</div>
    <div class="card-body">
        <h6 class="card-title">{{title}}</h6>
        <p>{{description}}</p>
    </div>
   </div>
     </div>
     </div>
      {{/each}}
      </div>
     {{/with}}
     <br>
     <hr>
     {{#with footer}}
      <h5>{{title}}</h5>
      <div class="row">
        <div class="col-3">
      {{#each navigation}}
        <div class="col-6 g-2">
       <a href="{{href}}" class="col-3">{{text}}</a>
       </div>
      {{/each}}
       </div>
       <div class="col-3">
      {{#each socialMedia}}
        <div class="col-6 g-2">
       <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
       </div>
      {{/each}}
       </div>
       <div class="col-3">
      {{#each partners}}
       <div class="col-6 g-2">
         <a href="{{link}}" class="btn btn-outline-info">{{name}}</a>
       </div>
      {{/each}}
      </div>
      </div>
     {{/with}}
    </section>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
