{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with page_header}}
     <h1 class="text-center">{{title}}</h1>
     <p class="text-uppercase text-center">{{description}}</p>
    {{/with}}
    {{#with section}}
    <div class="card">
        <div class="card-body">
            {{#with about_us}}
            {{#with title_list}}
              <div class="display-6 text-end">{{main}}</div>
              <h2 class="text-end">{{sub}}</h2>
            {{/with}}
            <button class="btn btn-outline-info">{{button.text}}</button>
            {{/with}}
        </div>
    </div>
    <br>
    <br>
    {{#with advantage}}
    <div class="card">
        <div class="card-body">
            <div class="display-5">{{title}}</div>
            <br>
    <div class="card">
        <div class="card-body">
            {{#with efficiency}}  
               <div class="display-4">{{title}}</div>
               <br>
               <h6>{{sub_title}}</h6>
               <p>{{description}}</p>
               <button class="btn btn-outline-warning">{{button}}</button>
            {{/with}} 
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            {{#with innovation}}
               <div class="display-4 text-center">{{title}}</div>
               <h6 class="text-center">{{sub_title}}</h6>
               <p class="text-center">{{description}}</p>
               <button class="btn btn-outline-warning">{{button}}</button>
            {{/with}}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
         {{#with collaboration}}
          <div class="display-4 text-end">{{title}}</div>
          <h6 class="text-end">{{sub_title}}</h6>
          <p class="text-end">{{description}}</p>
          <button class="btn btn-outline-warning">{{button}}</button>
         {{/with}}
        </div>
    </div>
        </div>
    </div>
    {{/with}}
    <br>
    <div class="card">
        <div class="card-body">
            {{#with agreement}}
             <div class="display-5">{{title}}</div>
             {{#with info}}
              <div class="card">
                <div class="card-body">
                    <h5>{{sub_title}}</h5>
                    <div class="card">
                        <div class="card-body">
                            {{#with detail}}
                             <p>{{text}}</p> 
                             <button class="btn btn-success">{{button}}</button>
                            {{/with}}
                        </div>
                    </div>
                </div>
              </div> 
             {{/with}}
            {{/with}}
        </div>
    </div>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
